#signBox {
    box-sizing: content-box;
    /* height: 250px; */
    padding: 44px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 15px;
    margin-bottom: 16px;
}

.form-group label {
    display: inline-block;
    width: 60px;
    font-weight: 400;
}

#idBox,
#pwBox {
    border: none;
    border-bottom: solid 1px #0067B8;
    font-size: 15px;
    height: 23px;
    width: 350px;
    padding: 6px 10px 6px 0px;
}

#emailBox {
    border: none;
    border-bottom: solid 1px #0067B8;
    font-size: 15px;
    height: 23px;
    width: 70%;
    padding: 6px 10px 6px 0px;
}

.email-container {
    width: 100%;
    display: flex;
}

.email-font {
    color: #757575;
}

.auth-container {
    display: flex;
    vertical-align: middle;
    margin-bottom: 10px;
}

.auth-input {
    width: 63%;
    max-width: 350px;
}

#authBox {
    border: none;
    width: 80%;
    border-bottom: solid 1px #0067B8;
    font-size: 15px;
    height: 23px;
    padding: 6px 10px 6px 0px;
}

.authCheck {
    height: 23px;
    vertical-align: middle;
}

#idBox:focus,
#pwBox:focus,
#emailBox:focus,
#authBox:focus {
    outline: none;
}

.true-class {
    color: rgb(26, 119, 46);
}

.idError,
.pwError,
.emailError,
.authError,
.authSuccess {
    display: none;
}

.email-btn {
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    border-color: #0067B8;
    background-color: white;
    color: #0067B8;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-height: 40px;
    margin-right: 7%;
}

.resend-btn {
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #0067B8;
    color: white;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-height: 40px;
    margin-right: 7%;
}

.email-btn:hover,
.resend-btn:hover {
    cursor: pointer;
}


/* google button */
.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 15px;
}

.google-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url('https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.google-btn-text {
    color: #757575;
    font-size: 14px;
    font-weight: bold;
}

.google-btn-text:hover {
    -webkit-animation-name: none;
}

/* Disabled Style */
.disabled-class {
    background-color: gray;
    color: black;
}

.disabled-class:hover {
    cursor: default;
}

input[type=button]:hover {
    cursor: pointer;
}